<%= form_with(model: collection) do |form| %>

  <div class="field mb-3">
    <%= form.label :name, 'Name of Collection', class:"form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions mb-3 text-center">
    <%= form.submit collection.new_record? ? 'New Collection' : 'Edit Collection', class: 'btn color_button_green fw-semibold' %>
  </div>
  
<% end %>