<div class="field mb-3">
    <%= label_tag 'List', 'List', class: 'form-label' %>
    <%= hidden_field_tag "note[content][][type]", 'list' %>
    <% item['value'].split(';').each do |list_item| %>
        <%= text_field_tag "note[content][][value][]",list_item, class:'form-control list-input mb-1' %>
    <% end %>
    <%= text_field_tag 'note[content][][value][]', nil, class: 'form-control list-input mb-1', placeholder: 'Add another item', oninput: 'checkInput(this)' %>
</div>