<h1 class="ms-2">Notes</h1>

<% if notice %>
    <div class="alert alert-success alert-dismissible fade show ms-5 me-5 mt-2 mb-2" role="alert">
        <strong>Correct!</strong> <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="botonCerrar"></button>
    </div>

    <script>
        setTimeout(() => { document.getElementById('botonCerrar').click(); }, 5000);

        var urlParams = new URLSearchParams(window.location.search);
        var IDNote = urlParams.get('number');
        if (IDNote) { showNote(IDNote); }
        
    </script>
<% end %>

<div class="row m-0 p-0">
    <div class="col-3">
        <ul class="list-group">
            <li> <%= link_to 'New Note', new_note_path, class:'btn color_button_green fw-semibold w-100 mb-2' %></li>
            <% @notes.each do |note| %>
                <li class="list-group-item color_card" onclick="showNote('<%= note.id %>')">
                    <% if note.text.blank? %>
                        <span class="p-2"></span>
                    <% else %>
                        <%= note.text.split[0..4].join(' ') %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="col-9 d-none" id="fatherContent">
            <div class="card color_card">
                <div class="card-body" id="content">
        
                </div>
            </div>
    </div>                  
</div>