<button type="button" onclick="addContentType('text')">Añadir Texto</button>
<button type="button" onclick="addContentType('file')">Añadir Archivo</button>
<button type="button" onclick="addContentType('list')">Añadir Imagen</button>
<%= form_with model: @note, html: { multipart: true } do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div id="contentContainer">
    <!-- Los campos dinámicos se añadirán aquí -->
  </div>
  <button type="submit">Enviar</button>
<% end %>

<script>
  function addContentType(contentType) {
    var container = document.getElementById('contentContainer');
    var contentDiv = document.createElement('div');
    
    var typeInput = document.createElement('input');
    typeInput.setAttribute('type', 'hidden');
    typeInput.setAttribute('name', `note[content][][type]`);
    typeInput.value = contentType;

    contentDiv.appendChild(typeInput);

    if (contentType === 'list'){
      var div = document.createElement('div');
      div.setAttribute('id', 'listInputsContainer');

      contentDiv.appendChild(div);

      var input = document.createElement('input');
      input.setAttribute('name', `note[content][][value][]`);
      input.setAttribute('oninput', 'checkInput(this)');
      input.setAttribute('type', 'text');

      div.appendChild(input);

    }else{
      var valueInput = document.createElement('input');
      valueInput.setAttribute('name', `note[content][][value]`);
      valueInput.setAttribute('type', contentType === 'text' ? 'text' : 'file');

      
      contentDiv.appendChild(valueInput);
      
    }

    container.appendChild(contentDiv);

  }
</script>