<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h2 class="text-center mb-3">Sign up</h2>

        <% if @user.errors[:base].any? %>
          <div id="error" class="text-danger mb-3 text-center">
            <% @user.errors[:base].each do |message| %>
                <p class="p-0 m-0 fw-semibold"><%= message %></p> 
            <% end %>     
          </div>       
        <% end %>

        <%= render 'form', user: @user %>
    </div>
  </div>
</div>