<div class="text-center">
    <h1 class="mt-4">Organize your chaos, simplify your life</h1>
    <h4>Life is full of moments, our notes are full of solutions.</h4>
    <img src="<%= asset_path 'homeImg.png' %>" alt="Home Image" width="400" height="400" class="mt-1 mb-3">
    <div class="container  lh-base text-start">
        <p>Tired of complicated and cluttered applications? Our sleek, easy-to-use interface gives you 
        the note-taking experience you've always wanted - make the switch now and experience the 
        difference! From planning projects to taking notes in class, our app offers all the tools you 
        need to keep your ideas organized and accessible at all times. Find out how it can improve your 
        workflow</p>
    </div>
</div>