<div class="container text-center">    
    <h1 class="mt-4">About us</h1> 
    <div class="card-group">
        <div class="card color_card">
            <div class="card-body">
                <img src="<%= asset_path 'masculino.png' %>" class="card-img-top size_img" alt="About Image 1">
                <p class="card-text fw-semibold">Alejandro Paniagua Rodríguez</p>
            </div>
        </div>
        <div class="card color_card">
            <div class="card-body">
                <img src="<%= asset_path 'femenino.png' %>" class="card-img-top size_img" alt="About Image 2">
                <p class="card-text fw-semibold">Ángela Gijón Flores</p>
            </div>
        </div>
    </div>
    <div class="container  lh-base text-start mt-2">
        <p>We are two students from ESI passionate about web development. 
        Currently, as part of our studies in Computer Engineering, we are working on developing a 
        note-taking application for our Web Systems Development course. Our aim is to create a 
        user-friendly and efficient tool to help individuals organize their ideas and boost productivity. 
        Stay tuned for updates on our journey!</p>
    </div>
</div>
