.selected {
    background-color: #fdfdf088 !important;
    color : black;
}

.listSelected {
    cursor: pointer;
}

.color_button_brown:hover {
    background-color: #beae97;
    color : black;
}

.color_button_brown:active {
    background-color: #beae97 !important;
    color : black !important;
}

.color_button_brown {
    background-color: #beae97c8;
    color : black;
}

.color_button_green:hover {
    background-color: rgba(164, 192, 78, 0.546);
    color : black;
}

.color_button_green:active {
    background-color: rgba(164, 192, 78, 0.546) !important;
    color : black !important;
}

.color_button_green {
    background-color: rgba(164, 192, 78, 0.749);
    color : black;
}

.color_body {
    background-color: #efeddc;
}

.color_navbar{
    background-color:  #c5d6a1 !important;
}

.color_card{
    background-color: #FDFDF0;
}

.color_footer{
    background-color: #666666;
}

.size_img {
    width: 100px;
    height: auto;
}

#fixed-buttons-container {
    display: inline;
    position: static;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100%;
}

.modal-backdrop {
    background-color: transparent !important;
}

body.modal-open {
    overflow: visible !important;
    padding-right: 0px !important;
}

.error_form {
    border: 1px solid red;
}